.l-wraper
	max-width: 414px
	margin: 0 auto
	padding: 50px 0 60px
	background-color: $color-text
	min-height: 100%
  
  
.l-container
  padding: 0 18px

  
.l-header
	background-color: $color-text
	text-align: center
	padding-top: 11px
	position: fixed
	top: 0
	width: 100%
	max-width: 414px
	z-index: 5
	
	
.l-header
	.l-back
		position: absolute
		top: 18px
		left: 18px	
		
		
	.l-notification
		position: absolute	
		right: 18px
		top: 13px
		color: $color-text		
		
	
.l-notification
	.noti-num
		+border-radius(100%)
		font-size: 10px
		line-height: 16px
		text-align: center
		min-width: 16px
		min-height: 16px	
		background-color: $color-background-2
		display: block
		position: absolute
		top: 0
		left: 0
		padding: 0 3px
		
		
.l-content
	min-height: 606px		
		
		
.l-footer
	background-color: $color-text
	position: fixed
	bottom: 0
	width: 100%
	max-width: 414px
	z-index: 5
	
	
.l-share	
	+box-shadow(0,-1px,4px,rgba($color-dark-gray,0.5))
	height: 60px	
	position: relative
	border-top: 1px solid #bbb
	
	
	.share-facebook,
	.share-add
		position: absolute
		top: -21px
		
		
	.share-facebook
		left: -18px
		
		
	.share-add
		right: -18px
		