/Headers slim
.l-header	
	.l-container
		a.l-back href='javascript:void(0)' onclick="window.history.back()"  
			i.fa.fa-chevron-left
		a href='/' 
			img src="img/logo.png"
		a.l-notification href='/' 
			i.fa.fa-bell
			span.noti-num
				| 3 	
 