.fa
	display: inline-block
	background-repeat: no-repeat
	
	
.fa-bell
	background-image: url(../img/icon_bell.png)
	width: 24px
	height: 25px
	
	
.fa-chevron-left	
	background-image: url(../img/icon_arrow.png)
	width: 16px
	height: 19px
	
	
.fa-cloud	
	background-image: url(../img/icon_cloud.png)
	width: 50px
	height: 35px
	
	
.fa-sun	
	background-image: url(../img/icon_sun.png)
	width: 50px
	height: 50px
	
	
.fa-rain	
	background-image: url(../img/icon_rain.png)
	width: 51px
	height: 51px
	
	
.fa-facebook	
	background-image: url(../img/icon_facebook.png)
	width: 17px
	height: 30px	
	
	
.fa-twitter	
	background-image: url(../img/icon_twitter.png)
	width: 30px
	height: 30px
	
	
.fa-amazon	
	background-image: url(../img/icon_amazon.png)
	width: 23px
	height: 23px	
	
	
.fa-checked	
	background-image: url(../img/icon_checked.png)
	width: 15px
	height: 15px	
	
	
.fa-copy	
	background-image: url(../img/icon_copy.png)
	width: 24px
	height: 24px	
	
	
.fa-save	
	background-image: url(../img/icon_save.png)
	width: 23px
	height: 23px	
	
	
.fa-post	
	background-image: url(../img/icon_post.png)
	width: 23px
	height: 23px					