.projects	
	.user-content
		color: $color-background-3
		
		.list-m-user
			.m-user	
				border-color: rgba($color-background-3	,0.1)	
				
				
	&-index
		.m-weather
			margin-bottom: 1px
			
			
			&:last-of-type
				margin-bottom: 0 
		
		
	&-new
	
	
	&-show		
		.pattern-content
			color: $color-background-3
			
			
			.list-m-request
				margin-bottom: 20px
			
			
			.f-row
				padding-bottom: 15px
				
				
			.f-btn
				padding-bottom: 40px	
				
				
			.f-textarea
				border-color: $color-twitter
				height: 58px	
					
	
	&-finish
		.list-m-user
			margin-bottom: 15px
			
				
		
	
		
      
      
          
      
          
            