.supports	
	&-new
		.m-choose
			.list-radio
				margin-top: 25px
				
				
			.list-m-request
				margin-top: 10px 
				
				
				.m-request
					&:last-of-type
						padding-bottom: 0	
					
					
	&-show
		.list-m-request
			margin-bottom: 40px		
			
			
	&-fail
		.list-m-request
			margin-bottom: 30px
			
			.fa
				display: block
				margin: 0 auto
			
			
		.m-btn
			width: 305px 	
			
			
	&-success
		.m-notification
			.noti-achieve
				text-align: left
				font-size: 16px	
				margin-bottom: 12px	
				
				
				.achieve-title
					margin-bottom: 10px	
					
					
			.list-m-request
				margin-bottom: 25px							