doctype html
html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"
  head
    title 
			| Trial Project	
    meta http-equiv="Content-Type" content="text/html;charset=UTF-8"
    link rel="stylesheet" type="text/css" href="css/application.css" 	
  body
    .l-wraper
			.l-header	
				.l-container
					a href='#' 
						img src="img/logo.png"
					a.l-notification href='#' 
						i.fa.fa-bell
						span.noti-num
							| 3
			.l-content
				.m-weather
					.weather-part
						.wea-title
							.l-container
								| 「MyProject」
						.wea-cotent			
							.wea-item.cloudy	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-cloud
										span.item-title
											| 10kgダイエットプロジェクト
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 0
												span.unit
													| 日
											span.deg-status.deg-0	
							.wea-item.sunny	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-sun
										span.item-title
											| 中小企業診断士の資格をとる
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 72
												span.unit
													| 日
											span.deg-status.deg-72		
									.item-content
										ul.list-users
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 福田 悠
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 中村 麻紀
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| Yusaku Matsui
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
					.weather-part
						.wea-title
							.l-container
								| 「「支援プロジェクト」
						.wea-cotent			
							.wea-item.sunny	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-sun
										span.item-title
											| FP資格取得プロジェクト
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 0
												span.unit
													| 日
											span.deg-status.deg-0	
							.wea-item.rainny	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-rain
										span.item-title
											| フルマラソン完走プロジェクト
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 0
												span.unit
													| 日
											span.deg-status.deg-0
							.wea-item.cloudy	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-cloud
										span.item-title
											| TOEIC800点取る
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 21
												span.unit
													| 日
											span.deg-status.deg-21	
									.item-content
										ul.list-users
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 福田 悠
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 中村 麻紀
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| Yusaku Matsui
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり		
							.wea-item.rainny	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-rain
										span.item-title
											| 投資について勉強して資格取る
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 45
												span.unit
													| 日
											span.deg-status.deg-45	
									.item-content
										ul.list-users
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 福田 悠
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 中村 麻紀
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.each-users
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| Yusaku Matsui
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
			.l-footer
				.l-container
					.l-share
						a.share-facebook href="#"
							i.fa.fa-facebook
						a.share-twitter	
							i.fa.fa-twitter
                
					
	 		
														
														
														
																		
											
											
										
										
									 				
									
		
	     