doctype html
html
	include _head
	body.projects.projects-index
		.l-wraper
			include _header
			.l-content
				.weather-content
					.content-part
						.m-title
							.l-container
								| 「MyProject」
						.content-detail			
							.m-weather.cloudy	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-cloud
										span.item-title
											| 10kgダイエットプロジェクト
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 0
												span.unit
													| 日
											span.deg-status.deg-0	
							.m-weather.sunny	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-sun
										span.item-title
											| 中小企業診断士の資格をとる
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 72
												span.unit
													| 日
											span.deg-status.deg-72		
									.item-content
										ul.list-m-user
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 福田 悠
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 中村 麻紀
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| Yusaku Matsui
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
					.content-part
						.m-title
							.l-container
								| 「「支援プロジェクト」
						.content-detail			
							.m-weather.sunny	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-sun
										span.item-title
											| FP資格取得プロジェクト
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 0
												span.unit
													| 日
											span.deg-status.deg-0	
							.m-weather.rainny	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-rain
										span.item-title
											| フルマラソン完走プロジェクト
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 0
												span.unit
													| 日
											span.deg-status.deg-0
							.m-weather.cloudy	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-cloud
										span.item-title
											| TOEIC800点取る
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 21
												span.unit
													| 日
											span.deg-status.deg-21	
									.item-content
										ul.list-m-user
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 福田 悠
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 中村 麻紀
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| Yusaku Matsui
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり		
							.m-weather.rainny	
								.l-container
									.item-head
										span.item-img
											i.fa.fa-rain
										span.item-title
											| 投資について勉強して資格取る
										.item-info
											.info-left
												span.title
													| 支援者数: 
												span.info
													| 3人
											.info-right
												span.title
													| 作成者:  
												span.info
													| 佐藤太郎
										.item-deg
											span.deg-title
												| 残り
											span.deg-num
												| 45
												span.unit
													| 日
											span.deg-status.deg-45	
									.item-content
										ul.list-m-user
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 福田 悠
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| 中村 麻紀
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
											li.m-user
												.avatar
													img src="img/avatar.jpg"	
												.entry
													span.u-name
														| Yusaku Matsui
													p.u-success
														| 成功: Amazonギフト券(Eメールタイプ)
													p.u-failure
														| 失敗: ディナーおごり	
			include _footer
							
					
	 		
														
														
														
																		
											
											
										
										
									 				
									
		
	     