doctype html
html
	include _head
	body.projects.projects-show
    .l-wraper
			include _header2
			.l-content					
				.m-weather.sunny	
					.l-container
						.item-head
							span.item-img
								i.fa.fa-sun
							span.item-title
								| FP資格取得プロジェクト
							p.item-info
								| とりあえず、FP3級取得して転職 でもしようかな。
							p.item-info
								| (2016年12月31日まで)		
							.item-info
								span.title
									| 作成者:  
								span.info
									| 佐藤太郎
							.item-deg
								span.deg-title
									| 残り
								span.deg-num
									| 70
									span.unit
										| 日
								span.deg-status.deg-72		
									
				.content-part.user-content
					.m-title.is-small
						.l-container
							| 支援者一覧 (3人)				
					.content-detail	
						.l-container
							ul.list-m-user
								li.m-user
									.avatar
										a href="fb-messenger://user-thread/fukuda.yuu.7"
											img src="img/avatar.jpg"	
									.entry
										span.u-name
											a href="fb-messenger://user-thread/fukuda.yuu.7"
												| 福田 悠
										p.u-success
											| 成功: Amazonギフト券(Eメールタイプ)
										p.u-failure
											| 失敗: ディナーおごり	
								li.m-user
									.avatar
										a href="fb-messenger://user-thread/fukuda.yuu.7"
											img src="img/avatar.jpg"	
									.entry
										span.u-name
											a href="fb-messenger://user-thread/fukuda.yuu.7"
												| 中村 麻紀
										p.u-success
											| 成功: Amazonギフト券(Eメールタイプ)
										p.u-failure
											| 失敗: ディナーおごり	
								li.m-user
									.avatar
										a href="fb-messenger://user-thread/fukuda.yuu.7"
											img src="img/avatar.jpg"	
									.entry
										span.u-name
											a href="fb-messenger://user-thread/fukuda.yuu.7"
												| Yusaku Matsui
										p.u-success
											| 成功: Amazonギフト券(Eメールタイプ)
										p.u-failure
											| 失敗: ディナーおごり
				.content-part.pattern-content
					.m-title.is-small
						.l-container
							| 依頼一覧
					.m-title.is-spec
						.l-container
							| 依頼パターン1
					.content-detail							
						.l-container
							.list-m-request
								.m-request	
									.request-title
										span.rt-title
											| 成功報酬
										span.rt-info	
											| Amazonで購入
									.request-content
										.item-check
											span.item-icon
												i.fa.fa-amazon
											span.item-txt
												| Amazonギフト券(Eメールタイプ)	
								.m-request	
									.request-title
										span.rt-title
											| 失敗の罰
										span.rt-info	
											| ディナーおごり																		
							.f-row
								label.f-note
									| 依頼URLをコピーして、Facebookメッセージで応援依頼しよう	
								textarea.f-textarea rows="" cols=""
									| FP資格取得プロジェクトへの参加依頼 http://example.com/projects/123456789012345678	
							.f-row.f-btn
								a.m-btn href="supports-new.html"
									i.fa.fa-copy
									| コピーする				
			include _footer
					
	 		
														
														
														
																		
											
											
										
										
									 				
									
		
	     