doctype html
html
	include _head
	body.projects.projects-finish
    .l-wraper
			include _header2
			.l-content
				.m-message
					.l-container
						p
							| お疲れ様でした。
						p.emphasize
							| 「FP資格取得プロジェクト」
						p
							| が終了しました。
				.m-notification
					.l-container
						span.noti-title
							| プロジェクトは成功しましたか? <br> 支援者に結果を知らせましょう。
						ul.list-status
							li
								a.status.success href="./projects-index.html"
									span.status-text
										| 成功!!
									i.fa.fa-sun	
							li
								.status.failure
									span.status-text
										| 失敗…
									i.fa.fa-rain	
						p.noti-achieve
							| 達成を証明する: 資格証の写真送付
						.f-btn
							a.m-btn href="fb-messenger://user/ryota.murakami.7"
								| Facebookで結果をシェアする								
				.content-part.user-content
					.m-title.is-small
						.l-container
							| 支援者一覧 (3人)
					.content-deatail
						.l-container
							ul.list-m-user
								li.m-user
									.avatar
										a href="fb-messenger://user/ryota.murakami.7"
											img src="img/avatar.jpg"	
									.entry
										span.u-name
											a href="fb-messenger://user/ryota.murakami.7"
												| 福田 悠
										p.u-success
											| 成功: Amazonギフト券(Eメールタイプ)
										p.u-failure
											| 失敗: ディナーおごり	
								li.m-user
									.avatar
										a href="fb-messenger://user/ryota.murakami.7"
											img src="img/avatar.jpg"	
									.entry
										span.u-name
											a href="fb-messenger://user/ryota.murakami.7"
												| 中村 麻紀
										p.u-success
											| 成功: Amazonギフト券(Eメールタイプ)
										p.u-failure
											| 失敗: ディナーおごり	
								li.m-user
									.avatar
										a href="fb-messenger://user/ryota.murakami.7"
											img src="img/avatar.jpg"	
									.entry
										span.u-name
											a href="fb-messenger://user/ryota.murakami.7"
												| Yusaku Matsui
										p.u-success
											| 成功: Amazonギフト券(Eメールタイプ)
										p.u-failure
											| 失敗: ディナーおごり
			include _footer
					
	 		
														
														
														
																		
											
											
										
										
									 				
									
		
	     