doctype html
html
	include _head
	body.supports.supports-pendding
		.l-wraper
			include _header2
			.l-content
				.m-message
					.l-container						
						p.emphasize
							| 「FP資格取得プロジェクト 
						p
							| が終了しました。
				.m-notification
					.l-container
						span.noti-title
							| プロジェクトの結果は保留中です。<br>主催者に聞いてみましょう。			
						.list-m-request
							.m-request.has-icon	
								.request-title
									span.rt-title
										| 成功報酬
									span.rt-info	
										| Amazonで購入
								.request-content
									.item-check
										i.fa.fa-checked
										span.item-icon
											i.fa.fa-amazon
										span.item-txt
											| Amazonギフト券(Eメールタイプ)	
							.m-request	
								.request-title
									span.rt-title
										| 失敗の罰
									span.rt-info	
										| ディナーおごり
			include _footer
                
					
														
														
														
																		
											
											
										
										
									 				
									
		
	     