doctype html
html
	include _head
	body.supports.supports-success
		.l-wraper
			include _header2
			.l-content
				.m-weather.sunny	
					.l-container
						.m-message														
							p.emphasize
								| 「FP資格取得プロジェクト」
							p
								| が終了しました。
							i.fa.fa-sun-big		
				.m-notification
					.l-container	
						.noti-achieve
							p.achieve-title
								| 達成を証明する: 資格証の写真送付 
							img src="img/achieve.png"
						.list-m-request
							.m-request.has-icon	
								.request-title
									span.rt-title
										| 成功報酬
									span.rt-info	
										| Amazonで購入
								.request-content
									.item-check
										i.fa.fa-checked
										span.item-icon
											i.fa.fa-amazon
										span.item-txt
											| Amazonギフト券(Eメールタイプ)	
							.m-request	
								.request-title
									span.rt-title
										| 失敗の罰
									span.rt-info	
										| ディナーおごり
						span.noti-title
							| 主催者に連絡して <br> 報酬/罰を実行しましょう。				
						.f-row.f-btn
							button.main-btn.btn-gray
								| このプロジェクト通知を消す								
										
			include _footer
                
					
														
														
														
																		
											
											
										
										
									 				
									
		
	     