.m-notification
	color: $color-background-3
	text-align: center
	padding: 20px 0 30px
	font-size: 18px
	
	
	.noti-title
		display: block
		margin-bottom: 22px
		font-weight: bold
		
		
	.noti-achieve
		margin-bottom: 20px	 
		
		
	.main-btn	
		display: block
		width: 100%
		
		
	.list-status
		+clearfix
		display: inline-block
		margin-bottom: 20px
		
		
		li
			+border-radius(100%)
			+box-shadow(0, 0, 4px, #303333)
			float: left
			margin: 0 25px
			width: 121px
			height: 121px		
			border-width: 5px
			border-style: solid
			text-align: center
			padding-top: 13px
			
			.status-text
				display: block
				margin-bottom: 3px
				font-weight: bold
			
			
			&.success
				border-color: #ffd538
				color: #ffd538
				
				
			&.failure
				border-color: #32cdfd
				color: #32cdfd 		
				
				
	.list-m-request
		text-align: left 			
	